<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berlin.aetherflow.wms.mapper.OutboundOrderItemMapper">

    <resultMap id="BaseResultMap" type="com.berlin.aetherflow.wms.domain.entity.OutboundOrderItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="lineNo" column="line_no" jdbcType="INTEGER"/>
            <result property="materialId" column="material_id" jdbcType="BIGINT"/>
            <result property="locationId" column="location_id" jdbcType="BIGINT"/>
            <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
            <result property="productionDate" column="production_date" jdbcType="DATE"/>
            <result property="expiryDate" column="expiry_date" jdbcType="DATE"/>
            <result property="plannedQty" column="planned_qty" jdbcType="DECIMAL"/>
            <result property="shippedQty" column="shipped_qty" jdbcType="DECIMAL"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,material_id,
        line_no,location_id,batch_no,
        production_date,expiry_date,planned_qty,
        shipped_qty,remark,create_by,create_time,
        update_by,update_time
    </sql>
</mapper>
